body{
    background: #322B2B;
    font-family: monospace;
    font-weight: bold;
    color: #a82c2c;
    text-align: center;
}
.title{
    margin: 0;
    padding: 0;
    font-size: 60px;
    color: antiquewhite;
    font-family: 'Rock Salt', cursive
}
.title-category{
    font-size: 23px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 5%;
}
.card{
    padding: 30px;
    margin: 2%;
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 3px 0px rgba(0,0,0,0.25);
    border-radius: 3px;
    transition: .2s all;
    cursor: pointer;
}
#raft{
    background-image:url(img/LOGOraft.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#mundial{
    background-image:url(img/mundial\ logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#kinoplus{
    background-image:url(img/kinoplus-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.container:hover .card{
    filter: blur(3px);
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
}
.container:hover .card:hover{
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 2px 3px 0px rgba(0,0,0,0.125);
    background-color: #a82c2c;
    color: white;
}